/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	line-height: 1.6;
    color: #727272;
    font-size: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

img,
video {
	width: 100%;
}



/*--- DEFAULT CUSTOMISATION ---*/
a { text-decoration: none;}
a:link { color: #57bceb; }
a:visited { color: purple; }
a:hover { color: purple; }
a:active { color: red; }



/*--- LAYOUT STRUCTURE ---*/




/*--- REUSABLE CODE ---*/
.padding-small {

}

.padding-medium {

}

.padding-large {
	
}

/*--- Skins, buttons etc.. ---*/

/* Window */
.window {

}


/*--- HELPERS ---*/

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}




/*--- Typography ---*/
.logo {
	font-family: 'Baloo Bhaina', cursive;
	font-weight: 900;
	font-size: 1.6em;
}
.main-nav {
	font-family: 'Mountains of Christmas', cursive;
	font-size: 1.3em;

}

/*font-family: 'Baloo Paaji', cursive;
font-family: 'Mountains of Christmas', cursive;*/


/* #Header
================================================== */

.header-main {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;

	background-color: #DEEFF7;
	border-bottom: 2px solid #31aae2
}

ul.main-nav {
	border-top: 1px solid #57BCEB;
}



/*--- Navigation Menu ---*/

.navbar-header {
	padding: .2em 3%;
}

.logo,
.hamburger-menu {
    display: inline-block;
    margin: 10px 0;
}

	.hamburger-menu {
	    font-size: 18px;
	    float: right;
	    padding: 2px 13px;
	    cursor: pointer;
	    color: #57bceb;
	    border: 2px solid #57bceb;
	    border-radius: 4px;
	    margin-top: 7px;
	}

.logo a,
.main-nav a {
    display: block;
    color: #57bceb;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo a:hover,
.main-nav li a:hover {
	color: #88d3f6;
}

.active a{
	color: #24b3f6;
}

.main-nav {
    display: none;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
}

	.main-nav a {
	    padding: 15px 15px;
	    text-align: center;
	}











/* #Video Intro & Audio
================================================== */
.video-intro {
	min-height: 220px;
	overflow: hidden;
	
}

.video-intro video {
	min-width: 100%;
	position: fixed;
	top: 0;
	z-index: -100;
}



/* #About
================================================== */
.about-section {
	border-top: 1px solid red;
	background: white;
}

/* #Fooer
================================================== */



/*font-family: 'Baloo Paaji', cursive;
font-family: 'Mountains of Christmas', cursive;


*/

/* MEDIA QUERIES
   ========================================================================== */
@media screen and (min-width: 481px) and (max-width: 1166px) {


	/* #Video Intro & Audio
	================================================== */

	.video-intro {
		min-height: 265px;		
	}

}


@media screen and (min-width: 769px) {

	/*--- LAYOUT STRUCTURE ---*/

	.container {
		width: 80%;
		margin: 0 auto;
		max-width: 1250px;
	}

	.video-intro {
		min-height: 435px;		
	}	



	/*--- Navigation Menu ---*/

	.logo {
		font-size: 1.8em;
	}

	.navbar-header {
		padding: 0;
	}

	.logo {
		float: left;
	}
	.main-nav {
	    display: inline-block;
	    float: right;
	    padding: 0;
	}

	ul.main-nav {
		border-top: none;
	}
	.main-nav li {
		display: inline-block;
		
	}

	.hamburger-menu {
	    display: none;
	}
	


}

@media screen and (min-width: 1025px) and (max-width: 1125px) {

	/* #Video Intro & Audio
	================================================== */

	.video-intro {
		min-height: 560px;	
	}

}

@media screen and (min-width: 1125px) {


	/* #Video Intro & Audio
	================================================== */

	.video-intro {
		min-height: 800px;	
	}

}



