/* -----------------------------------*/
/* ---------->>> GLOBAL <<<-----------*/
/* -----------------------------------*/

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
	line-height: 1.6;
    color: #727272;
    font-size: 1em;
    padding-top: 69px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}

img,
video {
	width: 100%;
}

audio {
	z-index: 9999;
	position: fixed;
	left: 0;
}

/*--- DEFAULT CUSTOMISATION ---*/
a { 
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:link { color: #57bceb; }
a:visited { color: purple; }
a:hover { color: purple; }
a:active { color: red; }





/*--- LAYOUT STRUCTURE ---*/
.site-wrapper {
	background: whcite;
}

.christmas-sec,
.christmas-videos,
.gallery-sec,
.contact-sec {
	background: #FFF;
}

.christmas-sec,
.gallery-sec,
.contact-sec {
	text-align: center;
}


.ice-top {
	     -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipH;
}

.ice-bottom {
	    -moz-transform: scaleY(1);
        -o-transform: scaleY(1);
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        filter: FlipH;
        color: red;
}


 .contact-sec .ice-top,
 .video-intro .ice-top, {
	position: absolute;
	bottom: 0;
	
}
.ice-bottom {
	position: absolute;
	top: 0;
}




/*--- REUSABLE CODE ---*/
.section {
	padding:90px 0;
}

.fixed-bottom {
	position: absolute;
	bottom: 0;
}

/*--- Skins, buttons etc.. ---*/

/* Icons */
.icon {
	border: 4px solid;
    padding: 40px;
    border-radius: 50%;
    margin-bottom: 17px;
    cursor: pointer;

   	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.icon-blue {
	border-color: #7bc9e7;
	color: #7bc9e7;
}

.icon-blue:hover {
	color: #FFF;
    background: #7bc9e7;
}


/* Window */


.window-1 {
	background: url('../assets/img/bg7.jpg');
}

.window {
	background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    height: 400px;
}

.window .ice-top {
	background: url('../assets/icetry.png');
	height: 150px;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 9999;
	background-repeat: repeat-x;
}

.window .ice-bottom {
	background: url('../assets/icetry.png');
	height: 150px;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 9999;
	background-repeat: repeat-x;
}

.window .ice-top img{
	width: 100%;  
}


.window h3{
	position: absolute;
	text-align: center;

	width: 90%;
    transform: translateY(-50%);	

  	margin: 0 auto;
  	right: 0;
  	top: 50%;
  	left: 0;

  	color: #FFF;
  	font-size: 3em;
}

.overlay {
	background: #57bced;
	opacity: .5;
	width: 100%;
	height: 100%;
}

.overlay-blue {
	background-color: #57bced;
}




/*--- HELPERS ---*/
.container {
	width: 90%;
	margin: 0 auto;
}

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}




/*--- Typography ---*/
.logo,
.intro-text  {
	font-family: 'Baloo Bhaina', cursive;
	font-weight: 900;
	font-size: 1.6em;
}
.main-nav{
	font-family: 'Mountains of Christmas', cursive;
}

.primary-title {
	font-family: 'Baloo Bhaina', cursive;
	font-size: 2em;
}

/* Intro text */
.intro-text {
	font-size: 2em;
	color: #16a7b8;
}


.intro-text h2 {
  font-size: 1em;
  background: -webkit-linear-gradient(#d4f5f4, #16a7b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.primary-text {
	margin-bottom: 40px;
}

.primary-title {
    margin-bottom: 25px;
    color: #000;
}

.primary-title::after {
    display: block;
    width: 80px;
    height: 2px;
    background-color: #7bc9e7;
    content: '';
    margin: 0 auto;
    margin-top: 4px;
}




/* #Header
================================================== */

.header-main {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9999;

	background-color: #DEEFF7;
	border-bottom: 3px solid #31aae2
}

ul.main-nav {
	border-top: 1px solid #57BCEB;
}



/*--- Navigation Menu ---*/

.navbar-header {
	padding: .2em 3%;
}

.logo,
.hamburger-menu {
    display: inline-block;
    margin: 10px 0;
}

	.hamburger-menu {
	    font-size: 18px;
	    float: right;
	    padding: 2px 13px;
	    cursor: pointer;
	    color: #57bceb;
	    border: 2px solid #57bceb;
	    border-radius: 4px;
	    margin-top: 7px;
	}

.logo a,
.main-nav a {
    display: block;
    color: #57bceb;
}

.logo a:hover,
.main-nav li a:hover {
	color: #88d3f6;
}

.active a{
	color: #24b3f6;
}

.main-nav {
    display: none;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    font-size: 1.3em;
}

	.main-nav a {
	    padding: 15px 15px;
	    text-align: center;
	}




/* #Video Intro & Audio
================================================== */
.video-intro {
	min-height: 220px;
	overflow: hidden;
	position: relative;
}

.video-intro video {
	min-width: 100%;
	position: fixed;
	top: 0;
	z-index: -100;
}

.intro-text {
	position: absolute;
	text-align: center;

	width: 100%;
    transform: translateY(-50%);	

  	margin: 0 auto;
  	right: 0;
  	top: 50%;
  	left: 0;
  	padding: 27px 8px;
    border-top: 1px solid #32dbd2;
    border-bottom: 1px solid #55e2dc;
}

/* #About
================================================== */
.about-sec {
	background-color: #57BCED;	
	max-height: 465px;
	overflow: hidden;
}



/* #Christmas Offer
================================================== */
.christmas-offer {
	margin-bottom: 50px;
}

.christmas-offer .icon{
	font-size: 3em;  
}



/* #Gallery
================================================== */
.gallery-item {
	cursor: pointer;
	padding: 8px 11px;
    border: 2px solid #57bceb;
    margin-bottom: 23px;

}

.gallery-item img {

}



/* #Video Section
================================================== */
.video {
	width: 100%;
	height: 800px;
}



/* #Window-s
================================================== */
.windows {
	border-top: 9px solid;
	border-bottom: 5px solid;
	border-color: #1191cf;
}

.window-s {
	padding: 100px 0;
	border-bottom: 2px solid #1191cf;
	text-align: center;
}

.window-s:last-child {
	border-bottom: 0;
}



/* #Contact
================================================== */


.contact-sec {
	position: relative;
}

 .contact-sec .ice-top,
 .video-intro .ice-top {
	position: absolute;
	bottom: 0;
	width: 100%;
}



input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	color: #8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
	border-radius: 4px;
	background: #c1e2f1;
	border: 1px solid #80d3fa;


	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

}

textarea {
	height: 250px;
	-webkit-transition: all 0.0s ease-in-out;
	-moz-transition: all 0.0s ease-in-out;
	-o-transition: all 0.0s ease-in-out;
	-ms-transition: all 0.0s ease-in-out;
	transition: all 0.0s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
textarea:focus,
select:focus{
	background:#deeff7;
	border: 1px solid #c1e2f1;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

.contact-sec button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: rgba(87, 188, 235, 0.95);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #e3e3e3;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;

	-webkit-transition: all 0.3s ease-in-out;
   -moz-transition: all 0.3s ease-in-out;
   -o-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
}

.contact-sec button:hover {
	background-color: rgba(87, 188, 235, 0.71);
}



fieldset {
  border: none;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}




/* #Fooer
================================================== */








/* MEDIA QUERIES
   ========================================================================== */
@media screen and (min-width: 481px) and (max-width: 1166px) {


	/* #Video Intro & Audio
	================================================== */

	.video-intro {
		min-height: 265px;		
	}

}


@media screen and (min-width: 769px) {

	/*--- LAYOUT STRUCTURE ---*/

	.section {
		padding: 130px 0;
	}

	.container {
		width: 80%;
		margin: 0 auto;
		max-width: 1250px;
	}

	.col {
		float: left;

	}

	.about-christmas,
	.about-picture {
		width: 50%;
	}

	.christmas-offer {
		margin-bottom: 0;
	}

	.about-picture img{
		max-width: 800px;
	}



	.video-intro {
		min-height: 435px;		
	}	





	/*--- Navigation Menu ---*/

	.logo {
		font-size: 1.8em;
	}

	.navbar-header {
		padding: 0;
	}

	.logo {
		float: left;
	}
	.main-nav {
	    display: inline-block;
	    float: right;
	    padding: 0;
	}

	ul.main-nav {
		border-top: none;
	}
	.main-nav li {
		display: inline-block;
		
	}

	.hamburger-menu {
	    display: none;
	}


	/*--- Typography ---*/
	.primary-text {
		width: 70%;
		margin: 0 auto;
	}

	.primary-title {
		font-size: 2em;
	}

	.primary-para {
		margin:0 50px 55px;
	}

	/* Intro text */
	.intro-text {
		font-size: 2.5em;
		width: 56%;
	}


	.intro-text h2 {
	  font-size: 72px;

	}


	/*--- Christmas Section ---*/

	.christmas-offer {
		width: calc(100% / 3 - 3%);
		margin-right: 3%;
	}

	.christmas-offer:nth-child(3n) {
		margin-right: 0;
	}

	/* #Window-s
	================================================== */

	.windows {
		margin-bottom: 400px;
	}

	.window-s {
		width: calc(100% / 3);
		padding: 200px 0;
		border-right: 2px solid #1191cf;
	}


	/*Contact*/
	#name, #lastName {
		width: 49%;
	}
	#name {
		margin-right: 2%;
	}
	#lastName {
		margin-right: 0;
	}




}


@media screen and (min-width: 768px) and (max-width: 940px){

	/* #Gallery
	================================================== */
	.gallery-item {
		width: 46%;
		margin-right: 4%;
		margin-bottom:20px;
	}

	.gallery-item img {
		width: 100%;
		height: 100%;
		max-height: 215px;
	}

	.gallery-item:nth-child(2n) {
		margin-right: 0;
	}

}

@media screen and (min-width: 940px) {

	/* #Gallery
	================================================== */
	.gallery-item {
		width: 30%;
		margin-right: 3.3%;
		margin-bottom: 2%
	}

	.gallery-item:nth-child(3n) {
		margin-right: 0;
	}

}

@media screen and (min-width: 1025px) and (max-width: 1225px) {

	/* #Video Intro & Audio
	================================================== */

	.video-intro {
		min-height: 575px;	
	}

}

@media screen and (min-width: 1225px) and (max-width: 1325px) {


	/* #Video Intro & Audio
	================================================== */

	.video-intro {
		min-height: 600px;	
	}

}


@media screen and (min-width: 1325px) {

	.video-intro {
		min-height: 740px;
	}

}

@media screen and (min-width: 1425px) {

	.video-intro {
		min-height: 820px;
	}

}




